html {
  font-size: clamp(10px, 1.5vw + 10px, 10px);
}
body {
  margin: 0;
  font-family: "Inter", "Noto Sans JP", sans-serif;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Header.jsx*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0 0;
  background: #ffffff;
  color: #fff;
}

.header h1 {
  padding-left: 3rem;
  color: #444;
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  font-family: "Questrial", sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 2;
  line-height: 1;
  margin: 0;
}
.header h1 small {
  margin-left: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-family: "inter", sans-serif;
  font-weight: 300;
  color: #999;
}
nav {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem 0 0;
  margin-top: -3.1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1;
}
nav.is-sticky {
  padding-top: 1rem;
  background: #ffffffb5;
  padding-bottom: 0.5rem;
  backdrop-filter: blur(4px);
}

nav::after {
  content: "";
  width: 100vw;
  height: 1px;
  display: block;
  background: var(--color-lightblue);
  position: absolute;
  left: 0;
  top: 2.3rem;
  z-index: 0;
  transition: all 0.1s ease;
}
nav.is-sticky::after {
  top: 0;
}
nav a {
  margin-left: 2rem;
  color: #666;
  font-size: 1.6rem;
  text-decoration: none;
  line-height: 1;
  transition: all 0.2s ease;
  position: relative;
  z-index: 2;
}
nav a.active {
  color: var(--color-lightblue);
}
nav a:hover {
  opacity: 0.7;
  color: var(--color-lightblue);
}
@media screen and (max-width: 767px) {
  .header {
    padding: 1rem 0 0;
    height: 10.5vw;
  }
  .header h1 {
    padding: 0 1rem;
    font-size: 8vw;
    letter-spacing: 0.2rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .header h1 small {
    width: 100%;
    margin-left: 0;
    font-size: 3vw;
    font-family: "inter", sans-serif;
    font-weight: 300;
    color: #999;
    text-align: right;
    margin-bottom: 1.15vw;
  }
  nav {
    margin-top: -1rem;
    padding-top: 0;
    padding-right: 2.8vw;
    height: 9vw;
  }
  nav::after {
    top: 0.4rem;
    z-index: 0;
  }
  nav.is-sticky {
    padding: 0 2.8vw 0 0;
  }
  nav.is-sticky::after {
    top: 0;
  }
  nav a {
    margin-left: 2rem;
    color: #666;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 1;
    transition: all 0.2s ease;
    position: relative;
    z-index: 2;
    padding: 3vw 0vw;
  }
  .header nav a.active {
    color: var(--color-lightblue);
  }
  .header nav a:hover {
    opacity: 0.7;
    color: var(--color-lightblue);
  }
}

/*Layout*/

.container {
  max-width: 100%;
  padding: 1rem 3rem;
  margin-top: 0;
  position: relative;
}

.container h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  padding-left: 3rem;
  font-family: "Inter";
  font-weight: 300;
  color: #666;
}
.container h2::first-letter {
  color: var(--color-lightblue);
}
@media screen and (max-width: 767px) {
  /*Layout*/

  .container {
    padding: 0;
  }
  .container h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
  }
  .container h2::first-letter {
    color: var(--color-lightblue);
  }
}

/*top:jsx*/
.container .top {
  color: #666;
  font-family: "Inter";
  font-weight: 200;
  background-image: url(/src/assets/kame_rogo.svg);
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: bottom 14% right 0;
  padding: 1rem;
  min-height: calc(100vh - 95px);
}
.container .top h2 {
  font-size: 7rem;
  margin-top: 15rem;
  font-weight: 200;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}

.container .top h3 {
  font-size: 6rem;
  margin-top: 5rem;
  margin-left: 8rem;
  font-weight: 200;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
  animation-delay: 0.5s;
}
.container .top h3::first-letter,
.container .top h4::first-letter,
.container .top h5::first-letter {
  color: var(--color-lightblue);
}
.container .top div.name {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
}
.container .top h4 {
  font-size: 2.8rem;
  margin: 0;
  font-weight: 300;
  margin-left: 0;
  text-align: right;
  letter-spacing: 0.05em;
}
.container .top h5 {
  font-size: 2rem;
  font-weight: 200;
  text-align: right;
  margin: 0;
}
.container .top h5 small {
  display: block;
  font-size: 1.6rem;
}
@media screen and (max-width: 850px) {
  .container .top h3 span {
    display: block;
    padding-left: 1em;
    margin-top: 5rem;
  }
  .container .top h3 span::first-letter {
    color: var(--color-lightblue);
  }
}
@media screen and (max-width: 767px) {
  .container .top {
    background-size: 10rem;
    background-position: bottom 12% right 4%;
    padding: 4vw;
    min-height: calc(100vh - 17.5vw);
  }
  .container .top h2 {
    font-size: 9vw;
    margin-top: 20vw;
    font-weight: 200;
  }
  .container .top h3 {
    font-size: 9vw;
    margin-top: 8vw;
    margin-left: 12vw;
    font-weight: 200;
    line-height: 3;
  }
  .container .top h3 span {
    display: block;
    padding-left: 0.6em;
    margin-top: 0;
  }
  .container .top div.name {
    position: absolute;
    bottom: 4vw;
    right: 2rem;
  }
  .container .top h4 {
    font-size: 6vw;
    margin: 0;
    font-weight: 300;
    margin-left: 15rem;
    text-align: right;
    letter-spacing: 0.05em;
  }
  .container .top h5 {
    font-size: 2rem;
    font-weight: 200;
    text-align: right;
    margin: 0;
  }
  .container .top h5 small {
    display: block;
    font-size: 1.6rem;
  }
}
/*about*/
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}
.about h2 {
  width: 100%;
  margin-bottom: 2rem;
}
.about .name {
  position: relative;
  padding-left: 7rem;
  margin-right: 0;
  width: 30rem;
}
.about .name::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url(/src/assets/kame_rogo.svg);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.about .name span {
  display: block;
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 0.1em;
  color: #666;
  margin-right: 0;
}
.about .name span::first-letter {
  color: var(--color-lightblue);
}
.about span.realname {
  font-size: 1.6rem;
  letter-spacing: 0.11em;
  font-style: italic;
}
.about .prof {
  width: calc(100% - 30rem);
  max-width: 700px;
  margin-top: 6rem;
  padding-bottom: 1rem;
}
.about .prof h3 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 200;
  color: #888;
  line-height: 1;
  margin-bottom: 0.4em;
}
.about .prof h3::after {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--color-lightblue);
  display: block;
  position: relative;
  bottom: 4px;
  z-index: -1;
}
.about .prof h3::first-letter {
  color: var(--color-lightblue);
}
.about .prof p {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
}
.about .strengths {
  margin-left: 4rem;
  margin-bottom: 4rem;
}
.about .strengths dl {
  color: #666;
}
.about .strengths dl dd {
  padding-left: 1em;
  text-indent: -1em;
  font-size: 1.4rem;
  margin: 0;
}
.about .workhistory {
  margin-left: 8rem;
}

.about .Skills {
  margin-left: 12rem;
}
.about .Skills ul {
  padding-left: 0;
  list-style: none;
  font-size: 1.4rem;
}
.about .Skills ul li {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
  color: #666;
}
.about .Skills ul li b {
  display: block;
  margin-top: 0;
  color: var(--color-lightblue);
}
@media screen and (max-width: 1050px) {
  .about .name {
    margin: auto;
  }
  .about .prof {
    width: 100%;
    max-width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .about {
    padding-bottom: 10vw;
  }
  .about h2 {
    width: 100%;
    margin-bottom: 2rem;
  }
  .about .name {
    position: relative;
    margin: 5vw auto 0;
    width: 70%;
  }
  .about .name::before {
    width: 15vw;
    height: 15vw;
    left: 0;
    top: 0vw;
  }
  .about .name span {
    font-size: 6vw;
  }
  .about span.realname {
    font-size: 3vw;
    letter-spacing: 0.11em;
    font-style: italic;
  }
  .about .prof {
    max-width: unset;
    padding: 0 2rem;
    margin-top: 10vw;
  }
  .about .prof h3 {
    margin: 0;
    font-size: 5vw;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 0.4em;
  }

  .about .prof h3::first-letter {
    color: var(--color-lightblue);
  }
  .about .prof p {
    font-size: 3.2vw;
    margin-bottom: 3rem;
  }
  .about .prof p br {
    display: none;
  }
  .about .strengths,
  .about .workhistory,
  .about .Skills {
    margin-left: 0;
  }
  .about .strengths p br,
  .about .workhistory p br {
    display: block;
  }

  .about .Skills ul {
    padding-left: 0;
    list-style: none;
    font-size: 1.4rem;
  }
  .about .Skills ul li {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2.9vw;
    font-weight: 300;
    color: #666;
    padding-left: 1em;
  }
  .about .Skills ul li b {
    font-size: 3.4vw;
    display: block;
    margin-top: 0;
    text-indent: -2.8vw;
  }
}

/*Works.jsx*/
.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  justify-content: center;
  gap: 24px;
  /* margin: 0 auto; */
  padding: 0 0 5rem;
}
@media screen and (max-width: 767px) {
  .works-grid {
    display: block;
    width: 100%;
    /* margin: 0 auto; */
    padding: 0 20px;
  }
}

/*WorkCard.jsx ----------------*/
.work-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  transition: 0.3s;
  position: relative;
  padding: 20px;
  padding-bottom: 70px;
  max-width: 300px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.work-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.work-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.work-card__body {
  padding: 10px 0;
}

.work-card__title {
  margin: 0 0 8px;
  font-size: 1.6rem;
}
.work-card__caption {
  font-size: 1.2rem;
}

.work-card__desc {
  margin: 0;
  font-size: 14px;
  color: #555;
  white-space: pre-wrap;
}

.work-card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  bottom: 15px;
  width: 60%;
  left: 20%;
  text-align: center;
  appearance: none;
  border: none;
  padding: 10px;
  background: var(--color-lightblue);
  color: #fff;
  border-radius: 10px;
  transition: background 0.2s;
}
.work-card__button:hover {
  opacity: 0.8;
  background: #fff;
  color: var(--color-lightblue);
  border: solid 1px var(--color-lightblue);
}

@media screen and (max-width: 767px) {
  .work-card {
    transition: 0.3s;
    position: relative;
    padding: 1em;
    padding-bottom: 7rem;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .work-card__body {
    padding: 1rem 0;
  }

  .work-card__title {
    margin: 1rem 0 0.5rem;
    font-size: 1.5em;
  }
  .work-card__caption {
    font-size: 1.2rem;
  }

  .work-card__desc {
    margin: 0;
    font-size: 14px;
    color: #555;
    white-space: pre-wrap;
  }

  .work-card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    bottom: 15px;
    width: 60%;
    left: 20%;
    text-align: center;
    appearance: none;
    border: none;
    padding: 10px;
    background: var(--color-lightblue);
    color: #fff;
    border-radius: 10px;
    transition: background 0.2s;
  }
  .work-card__button:hover {
    opacity: 0.8;
    background: #fff;
    color: var(--color-lightblue);
    border: solid 1px var(--color-lightblue);
  }
}

/* Modal.jsx */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal {
  background: #fff;
  padding: 0 30px 20px;
  border-radius: 8px;
  max-width: 1100px;
  width: 90%;
  max-height: 90%;
  /* overflow-y: auto; */
  position: relative;
}
.modal button {
  position: absolute;
  top: -1.2rem;
  right: -1.2rem;
  z-index: 2;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background: var(--color-lightblue);
  border: solid 1px var(--color-lightblue);
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
@media screen and (min-width: 768px) {
  .modal button:hover {
    color: var(--color-lightblue);
    background: #fff;
    border: solid 1px var(--color-lightblue);
  }
}
.modal h2 {
  font-size: 1.8rem;
  margin-bottom: 0;
  padding: 2rem 0 1rem;
  margin-top: 0;
  background: #ffffffd0;
  position: sticky;
  top: 0;
  display: none;
}
.modal h2 small {
  display: block;
  font-size: 0.6em;
}
.modal figure {
  margin: 0;
}
.modal img {
  width: 100%;
  margin-bottom: 20px;
}
.modal div.desc {
  font-size: 13px;
  white-space: pre-wrap;
  column-count: 2;
  gap: 20px;
  color: #333;
  margin: 10px 0;
  column-count: 2;
  column-gap: 24px;
}
.desc > div {
  break-inside: avoid;
  margin-bottom: 16px;
}

.modal div.desc span b {
  font-size: 13px;
  margin-bottom: 0;
}
.heading-main::before {
  content: "■";
}
.heading-sub::before {
  content: "●";
  color: var(--color-lightblue);
}
.modal div.desc > div p {
  margin: 0;
}
.fade-in {
  animation: fadeIn 0.3s forwards;
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}
@media screen and (max-width: 767px) {
  /* Modal.jsx */

  .modal {
    padding: 2.5rem 4vw;
    border-radius: 8px;
    width: 92vw;
    height: 90%;
    height: 90lvh;
  }
  .modal h2 {
    font-size: 3.6vw;
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
    background: #ffffffd0;
    height: 18vw;
  }
  .modal h2 small {
    display: block;
    font-size: 2.7vw;
  }
  .modal figure {
    margin: 0;
    width: 92vw;
    height: calc(100% - 0vw);
    overflow: hidden;
    position: relative;
    left: -4vw;
    overflow: scroll;
  }
  .modal img {
    max-width: unset;
    width: auto;
    height: 100%;
    margin-bottom: 0;
  }
  .modal div.desc {
    font-size: 13px;
    white-space: pre-wrap;
    column-count: 2;
    gap: 20px;
    color: #333;
    margin: 10px 0;
    column-count: 2;
    column-gap: 24px;
  }
  .desc > div {
    break-inside: avoid;
    margin-bottom: 16px;
  }

  .modal div.desc span b {
    font-size: 13px;
    margin-bottom: 0;
  }
  .heading-main::before {
    content: "■";
  }
  .heading-sub::before {
    content: "●";
    color: var(--color-lightblue);
  }
  .modal div.desc > div p {
    margin: 0;
  }
}

/**/
.scroll-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--color-lightblue);
  border: solid 1px var(--color-lightblue);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
}
.scroll-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.scroll-top::before {
  content: "";
  width: 12px;
  height: 2px;
  background: #fff;
  display: block;
  position: absolute;
  top: 16px;
  left: calc(50% - 10px);
  transform: rotate(-45deg);
  border-radius: 2px;
}
.scroll-top::after {
  content: "";
  width: 2px;
  height: 26px;
  background: #fff;
  display: block;
  position: absolute;
  top: 12px;
  left: calc(50% - 1px);
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .scroll-top:hover {
    background: #fff;
    border: solid 1px var(--color-lightblue);
  }
  .scroll-top:hover::before,
  .scroll-top:hover::after {
    background: var(--color-lightblue);
  }
}
@media screen and (max-width: 767px) {
  .scroll-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 4rem;
    height: 4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .scroll-top::before {
    content: "";
    width: 3.4vw;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    top: 2.5vw;
    left: calc(50% - 2.6vw);
    transform: rotate(-45deg);
    border-radius: 2px;
  }
  .scroll-top::after {
    content: "";
    width: 2px;
    height: 6vw;
    background: #fff;
    display: block;
    position: absolute;
    top: 1.8vw;
    left: calc(50% - 1px);
    border-radius: 2px;
  }
}
